<mat-sidenav-container class="example-container">
  <mat-sidenav
    mode="side"
    opened
    class="example-sidenav"
    [fixedInViewport]="true"
    [opened]="true"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="router.navigate(['feed'], { relativeTo: activeRoute })">
        Feed
      </a>
      <a mat-list-item (click)="router.navigate(['create-post'], { relativeTo: activeRoute })">
        Create post
      </a>
      <a mat-list-item (click)="myself()">
        My profile
      </a>
      <a mat-list-item (click)="router.navigate(['following-control'], { relativeTo: activeRoute })">
        Following control
      </a>
      <a mat-list-item (click)="router.navigate(['user-search'], { relativeTo: activeRoute })">
        Profile search
      </a>
      <a mat-list-item (click)="router.navigate(['update-user'], { relativeTo: activeRoute })">
        Account Settings
      </a>
      <a mat-list-item (click)="router.navigate(['register'], { relativeTo: activeRoute })">
        Register
      </a>
      <a mat-list-item (click)="router.navigate(['login'], { relativeTo: activeRoute })">
        Login
      </a>
      <a mat-list-item (click)="logout()">
        Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content" [formGroup]="options">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
